@import "styles/functions";
@import "styles/variables";

.modalContent {
    height: calc(100% - #{setUnit(66)});

    .root {
        display: block;
    }

    .tabsWrapper {
        height: 100%;
    }

    .tabs {
        padding: 0 setUnit(10) setUnit(10);
        height: 100%;
        overflow: auto;
        min-width: setUnit(250);

        .tab {
            border: 1px solid $border-gray-color;
            margin-bottom: setUnit(5);
            border-radius: setUnit(5);
            text-align: center;

            &.active,
            &:hover {
                background: $secondary-color;
                color: #ffffff;
                border-color: $secondary-color;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .tabsContentClassName {
        height: 100%;
    }

    .innerContentClassName {
        height: 100%;
        position: relative;
    }

    .listClassName {
        flex: 1;
    }
}
