@import "styles/functions";
@import "styles/variables";

.formControl {
    width: 100%;

    .label {
        z-index: 1;
        pointer-events: none;
        background: #ffffff;
        padding: 0 5px;
    }

    .input {
        border-radius: 5px;
        height: setUnit(200) !important;
        padding: 10px 14px;
        resize: none;
        width: 100%;
        border-color: rgba(0, 0, 0, 0.23);

        &:hover {
            border-color: black;
        }

        &.focus {
            border: 2px solid $primary-color;
            outline: none;
            padding: 9px 13px;
        }
    }
}
