@import "styles/functions";
@import "styles/variables";

.actives {
    margin-left: setUnit(10);

    .actives {
        width: fit-content;

        .activesText {
            margin-left: setUnit(10);
        }
    }

    .activesLabel {
        margin-bottom: 0;
    }
}
