$desktop: 1200px;
$tablet-horizontal: 1024px;
$tablet: 900px;
$mobile: 768px;
$mobile-small: 565px;

$black: #000;
$white: #fff;

$dark-color: #525252;
$secondary-color: #163c5a;
$primary-color: #e66f3e;
$grey-color: #e8ecef;
$light-gray: #eef0ef;
$dark-grey-color: #666666;
$green: #219653;

$error-color: #eb5757;

$background-ligh-gray: #f6f7f7;
$background-ligh-gray-2: #fbfbfb;
$background-gray: #f3f7f7;
$background-blue: #163c5a;

$hover-light-gray: #f6f7f7;
$hover-light-gray: #f6f7f7;

$border-middle-gray: #adadad;
$border-light-gray: #e8ecef;
$border-light-green: #406464;
$green-color: #219653;
$text-color: #303030;
