@import "styles/functions";
@import "styles/variables";

.vacancyTable {
    width: 100%;
    height: 100%;
    border-right: 1px solid $border-gray-color;

    .colName {
        padding-left: setUnit(40) !important;
    }

    .tableHolder {
        height: 100%;
    }

    .applicantRow {
        cursor: pointer;
    }
}
