@import "styles/functions";
@import "styles/variables";
@import "../Modal/styles.module";

.wrapper {
    .field {
        @include field;
    }

    .inActiveSearch {
        margin-top: 2px;
        margin-bottom: -9px;
    }

    .salary {
        width: 100%;
    }

    .currency {
        width: 30%;
        margin-left: setUnit(10);
    }

    .formControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
