@import "styles/functions";
@import "styles/variables";

.pendingWrapper {
    height: calc(100vh - #{$header-height});
}

.tablePagination {
    position: relative;
    z-index: 2;
    border-right: 1px solid $border-gray-color;
}
