@import "styles/functions";
@import "styles/variables";

.contentWrapper {
    width: 100%;
    padding: setUnit(32) setUnit(20);
    height: setUnit(500);
    overflow: hidden;
    overflow-y: auto;
}
