@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../Modal/styles.module";

.wrapper {
    .field {
        @include field;

        &.birthDate {
            margin-top: setUnit(15);
            margin-right: setUnit(10);
            width: fit-content;
        }

        &.sex {
            width: 100%;
        }
    }

    .block {
        display: flex;
        align-items: center;
    }
}
