@import "styles/functions";
@import "styles/variables";

.item {
    display: flex;
    align-items: center;

    .label {
        font-weight: 700;
    }

    .value {
        margin-left: setUnit(10);
    }
}
