@import "styles/functions";
@import "styles/variables";

.addMode {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: setUnit(10);
    border-top: 1px solid $grey-color;
    transition: all .3s ease;

    .input {
        margin-right: setUnit(10);
    }

    &.hidden {
        visibility: hidden;
    }

    .saveButton {
        min-width: setUnit(110);
    }
}
