@import "styles/functions";
@import "styles/variables";

@mixin field() {
    margin-top: setUnit(15);
    width: 100%;

    &:first-child {
        margin-top: 0;
    }
}

.cardActions {
    border-top: 1px solid $border-gray-color;
}

.tabsWrapper {
    display: flex;
    flex-direction: column;

    .tabsContent {
        flex: 1;
        overflow: auto;
    }

    .tabs {
        margin-left: setUnit(20);
        margin-right: setUnit(20);
        border-bottom: 1px solid $border-gray-color;

        .tab {
            color: $dark-color;
            min-width: setUnit(122);
            text-align: center;
            margin-right: setUnit(2);
            border-bottom: none;

            &:hover,
            &.active {
                background: $secondary-color;
                color: #ffffff;
                border-radius: setUnit(8) setUnit(8) setUnit(2) setUnit(2);
            }
        }
    }
}

.actionButtons {
    display: flex;
    align-items: center;

    .btn {
        margin-right: setUnit(10);
        min-width: setUnit(117.21);

        &:last-child {
            margin-right: 0;
        }
    }
}
