@import "styles/functions";
@import "styles/variables";

.cardActions {
    border-top: 1px solid $border-gray-color;
}

.tabs {
    margin-left: setUnit(20);
    margin-right: setUnit(20);
    border-bottom: 1px solid $border-gray-color;
}
