@import "styles/functions";
@import "styles/variables";

.formWrapper {
    width: 100%;
    padding: 0 setUnit(20) setUnit(32);
    height: setUnit(500);
    overflow: hidden;
    overflow-y: auto;
}
