@import "styles/mixins";

.button {
    @include button($secondary-color, #fff, $hover-blue);

    .loader {
        margin: 0;
        font-size: setUnit(3);
        color: #ffffff;
    }

    &.disabled {
        opacity: .7;

        &:hover {
            cursor: not-allowed;
        }
    }
}
