@import "styles/functions";
@import "styles/variables";

.nameText {
    margin-bottom: setUnit(5);
    font-size: setUnit(26);
    font-weight: 700;

    .name {
        font-size: inherit;
        font-weight: inherit;
    }
}
