@import "styles/functions";
@import "styles/variables";

.company {
    font-weight: 500;
    font-style: italic;
    font-size: setUnit(22);
    letter-spacing: setUnit(1.1);
    margin-bottom: setUnit(4);
}
