@import "styles/functions";
@import "styles/variables";

.info {
    &.scroll {
        height: calc(100vh - 172px);
        padding: setUnit(16);
    }

    .details {
        margin-top: setUnit(20);
    }
}
