@import "styles/functions";
@import "styles/mixins";
@import "styles/variables";

.tableHolder {
    @include box-shadow;
    width: 100%;
    overflow: auto;


    .table {
        margin-bottom: 0;
        width: 100%;
        border-collapse: collapse;

        thead {

            .select {
                padding-top: 0;
                padding-bottom: 0;
            }

            .filter {
                margin-top: setUnit(5);
            }

            tr {
                border-bottom: 1px solid #dee2e6;

                th {
                    border: none;
                    text-align: left;
                    padding: setUnit(10);
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #dee2e6;

                &:hover {
                    background-color: $primary-color;
                    color: #ffffff;

                    .link {
                        color: #ffffff;
                    }
                }
            }

            td {
                border: none;
            }

        }

        .select {
            width: setUnit(50);

            &__all {
                position: relative;
            }

            .checkbox {
                width: 100%;
                text-align: center;
            }
        }

        .row {
            cursor: pointer;
        }

        .cell {
            padding: setUnit(10);

            .link {
                display: block;
                width: 100%;
                padding: setUnit(12);
                text-decoration: none;
                color: #000000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
