@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.formControl {
    @include inputLightFull;

    width: 100%;

    .label {
        padding: 0 2px;
        top: -9px;
        background: #ffffff;
        pointer-events: none;
        z-index: 1;
        transition: all .2s;

        &.focus {
            top: 0;
        }
    }

    .container {
        margin-left: setUnit(10);
        width: 97.5%;
    }

    .dropdown {
        display: none;
    }

    .input {
        padding-left: setUnit(10);
        width: 100%;
        height: setUnit(40);
        border-radius: setUnit(8);
        font-size: setUnit(16);
    }
}
