@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.formControl {
    width: 100%;

    .label {
        padding: 0 2px;
        top: -9px;
        background: #ffffff;
        pointer-events: none;
        z-index: 1;
        transition: all .2s;

        &.focus {
            top: 0;
        }
    }

    .input {
        @include outlinedInput;

        width: 100%;

        &.inputFocus {
            border: 2px solid $primary-color;
            padding: 9px 13px;
        }
    }
}
