@import "styles/functions";
@import "styles/variables";

.file {
    position: relative;

    .fileIcon {
        width: setUnit(50);
        height: setUnit(50);
        vertical-align: middle;

        &.csv {
            width: setUnit(45);
            height: setUnit(45);
            position: relative;
            top: setUnit(-3);
        }

        path {
            stroke: $primary-color;
        }
    }

    .filePlaceholder {
        width: setUnit(52);
        height: setUnit(52);

        path {
            fill: $primary-color;
        }
    }
}

.actions {

    .list {
        list-style: none;

        .option {
            cursor: pointer;
            padding: setUnit(2) setUnit(10);
            display: flex;
            align-items: center;

            .icon {
                width: setUnit(20);
                height: setUnit(20);
                vertical-align: middle;
                margin-right: setUnit(10);

                &.trash {
                    width: setUnit(15);
                    height: setUnit(15);
                    margin-left: setUnit(3);
                }
            }

            &:hover {
                background: $primary-color;
                color: #ffffff;
            }
        }
    }
}
