@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: setUnit(10);

    &.right {
        flex-direction: row-reverse;
    }

    label {
        @include label;

        margin-bottom: 0;
        display: inline-flex;
    }
}

.checkboxDom {
    position: absolute;
    left: -10000px;
    display: none;

    &+.customCheckboxWrapper {
        position: relative;

        &.checkbox {
            width: setUnit(20);
            height: setUnit(20);

            .customCheckbox {
                width: 100%;
                height: 100%;
                border: 1px solid darken($grey-color, 20);
                border-radius: setUnit(3);
            }

            .checkmark {
                display: none;
            }
        }

        &.radio {
            width: setUnit(24);
            height: setUnit(24);

            .customCheckbox {
                width: 100%;
                height: 100%;
                border: 1px solid darken($grey-color, 20);
                border-radius: 50%;
            }

            .checkmark {
                display: none;
            }
        }
    }

    &:checked {
        &+.customCheckboxWrapper {
            &.checkbox {
                .customCheckbox {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: $primary-color;
                }

                .checkmark {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 12%;
                    left: 15%;
                    display: block;

                    svg {
                        width: 70%;
                        height: 70%;
                    }
                }
            }

            &.radio {
                .customCheckbox {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: $primary-color;
                }

                .checkmark {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 19%;
                    left: 21%;
                    display: block;

                    svg {
                        width: 60%;
                        height: 60%;
                    }
                }
            }
        }
    }
}
