@import "styles/functions";
@import "styles/variables";

.inputWrapper {
    .formControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .date {
            width: 70%;
            margin-left: setUnit(10);

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
