@import "styles/functions";
@import "styles/variables";

.modal {
    display: flex;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: setUnit(20);

    .card {
        width: 100%;
        margin: auto 0;
        max-width: setUnit(800);
        height: 100%;
        outline: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: setUnit(20);

        .title {
            font-size: setUnit(22);
            font-weight: 500;
        }

        .closeIcon {
            width: setUnit(25);
            height: setUnit(25);
            cursor: pointer;
        }
    }

    .cardContent {
        padding: 0;
        height: calc(100% - #{setUnit(126)});

        &>div {
            height: 100%;
        }
    }

    .actions {
        padding: setUnit(10) setUnit(20);
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #ffffff;
    }
}
