@import "styles/functions";
@import "styles/variables";

.modal {
    display: flex;
    margin: auto 0;
    height: fit-content;
    justify-content: center;
    outline: none;

    .card {
        width: 100%;
        max-width: setUnit(800);
        outline: none;
    }
}
