@import "styles/functions";
@import "styles/variables";

.profileWrapper {
    padding: setUnit(32) 0;

    .field {
        margin-top: setUnit(10);
        width: 100%;

        &.salary {
            width: 100%;
        }

        &.currency {
            width: 100%;
            margin-left: setUnit(10);
        }
    }

    .formControl {
        margin-top: setUnit(12);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
