@import "styles/functions";
@import "styles/variables";

.wrapper {
    .field {
        margin-top: setUnit(15);
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }

    .inActiveSearch {
        margin-top: 2px;
        margin-bottom: -9px;
    }

    .salary {
        width: 100%;
    }

    .currency {
        width: 30%;
        margin-left: setUnit(10);
    }

    .formControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
