@import "styles/functions";
@import "styles/variables";

.name {
    display: flex;

    .main {
        margin-bottom: 0;
    }

    .activeIcon {
        width: setUnit(20);
        height: setUnit(20);
        margin-right: setUnit(10);
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }

    .activity {
        font-weight: 600;
    }
}
