@import "styles/functions";
@import "styles/variables";

.formControl {
    width: 100%;

    .label {
        padding: 0 2px;
        top: -9px;
        background: #ffffff;
        pointer-events: none;
        z-index: 1;

        &.focus {
            top: 0;
        }
    }

    .wrapper {
        select {
            padding-top: 10px;
            padding-bottom: 11px;
            background: none;

            &:focus {
                background: none;
            }
        }
    }
}
