@import "styles/functions";
@import "styles/variables";

.name {
    display: flex;

    .main,
    .meta {
        line-height: setUnit(21);
    }

    .activeIcon {
        width: setUnit(20);
        height: setUnit(20);
        margin-right: setUnit(10);
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }

    .nameText {
        margin-bottom: setUnit(5);
    }

    .main {
        margin-bottom: setUnit(14);
    }
}
