@import "styles/functions";
@import "styles/variables";

.formControl {
    & > div {
        width: 100%;
    }

    .inputWrapper {
        position: relative;

        .actions {
            position: absolute;
            right: setUnit(10);
            top: setUnit(9);
            display: flex;
            align-content: center;

            .minus,
            .plus {
                width: 20px;
                height: 20px;
                cursor: pointer;

                fill: $border-gray-color;

                &:hover {
                    transform: scale(1.1);
                    color: inherit;

                    fill: darken($border-gray-color, 20);
                }
            }

            .minus {
                margin-right: setUnit(10);
            }

            .plus {

            }
        }
    }

    .label {
        padding: 0 2px;
        top: -9px;
        background: #ffffff;
        pointer-events: none;
        z-index: 1;
        transition: all .2s;

        &.focus {
            top: 0;
        }
    }
}
