@import "styles/functions";
@import "styles/variables";

.formControl {
    & > div {
        width: 100%;
    }

    .label {
        padding: 0 2px;
        top: -9px;
        background: #ffffff;
        pointer-events: none;
        z-index: 1;
        transition: all .2s;

        &.focus {
            top: 0;
        }
    }
}
