@import "styles/functions";
@import "styles/variables";

.name {
    padding-left: setUnit(16);
    padding-right: setUnit(16);
    display: flex;
    align-items: center;

    .nameText {
        font-size: setUnit(30);
        font-weight: 700;
        margin-bottom: setUnit(5);
    }

    .companyName {
        font-weight: 500;
        font-style: italic;
        font-size: setUnit(22);
    }

    .active {
        font-size: setUnit(17);
        font-weight: 700;
    }

    .texts {
        margin-left: setUnit(16);
    }

    .sex {
        font-weight: 300;
    }
}
