@import "styles/functions";
@import "styles/variables";

.bathsWrapper {
    display: flex;
    align-items: center;

    .selectWrapper {
        margin-top: 0;
        margin-bottom: 0;
    }

    .separator {
        margin: 0 setUnit(15);
        font-size: setUnit(14);
        color: #ADADAD;
    }
}
