@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.inviteModal {

    .form {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 setUnit(20);

        .inputWrapper {
            position: relative;
            width: 100%;

            .error {
                @include inputError;

                position: absolute;
                bottom: setUnit(-10);
            }
        }

        .field {
            &.email {
                position: relative;
                top: setUnit(-10)
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .modalActions {
        border-top: 1px solid $border-middle-gray;
        padding: setUnit(10) setUnit(20);
    }

    .modalCardContent {
        max-height: setUnit(266) !important;
    }

    .cardContent {
        height: calc(100% - #{setUnit(142)});
        overflow: auto;
    }

    .inviteBtn {
        min-width: setUnit(212);
        height: setUnit(40);
    }
}
