@import "styles/functions";
@import "styles/variables";

.close {
    position: absolute;
    top: 0;
    right: setUnit(-88);
    background: rgba($secondary-color, 0.6);
    width: setUnit(56);
    height: setUnit(56);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    @media screen and (max-width: $mobile) {
        right: setUnit(10);
        top: setUnit(10)
    }

    @media screen and (max-width: $mobile-small) {
        width: setUnit(35);
        height: setUnit(35);
    }

    &:hover {
        transform: scale(1.05);
    }

    .closeLineOne,
    .closeLineTwo {
        position: absolute;
        width: 46%;
        height: setUnit(3);
        background: #ffffff;
        display: inline-block;
        border-radius: setUnit(50);
    }

    .closeLineOne {
        transform: rotate(-45deg);
    }

    .closeLineTwo {
        transform: rotate(45deg);
    }
}
