@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.datePicker {

    .textField {
        width: setUnit(200);
        border: 1px solid $border-gray-color;
        border-radius: setUnit(4);
        padding-left: setUnit(13);
        padding-right: setUnit(5);

        label {
            top: setUnit(-9);
            left: setUnit(13);
            background: #ffffff;
            padding: 0 setUnit(2);
            z-index: 1;
            pointer-events: none;

            & + div {
                margin-top: 0;

                &:before,
                &:after {
                    border-bottom: 0;
                }

                &:hover,
                &:focus {
                    &:before,
                    &:after {
                        border-bottom: 0 !important;
                    }
                }

                input {
                    padding-top: setUnit(9);
                    padding-bottom: setUnit(10);
                    cursor: pointer;
                }
            }
        }
    }
}
