@import "../../../../../styles/functions";
@import "../../../../../styles/variables";

.name {
    display: flex;

    .activeIcon {
        width: setUnit(20);
        height: setUnit(20);
        margin-right: setUnit(10);
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }

    .nameLat {
        font-size: setUnit(20);
        font-weight: 500;
    }
}
