@import "styles/functions";
@import "styles/variables";

.files {
    display: inline-block;
    cursor: pointer;
}

.file {
    display: none;
}

.actionButton {
    pointer-events: none;
    margin-left: setUnit(10);
}

.nativeInput {
    display: none;
}
