@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.optionsPopup {
    @include box-shadow;

    border-radius: setUnit(16);
    padding: setUnit(20) setUnit(24);
    position: fixed;
    background: #ffffff;
    min-width: setUnit(280);
    max-width: setUnit(320);
    z-index: 9999;
}
