@import "styles/functions";
@import "styles/variables";

.filesTable {

    .fileRow {
        cursor: auto !important;
        background: none !important;

        & > div {
            width: 100%;
        }
    }
}
