@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

.filesWrapper {
    @include box-shadow;

    border-radius: setUnit(8);
    padding: setUnit(10);
    overflow: auto;
    min-height: setUnit(76);

    display: flex;
    align-items: center;

    .files {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        .add {
            position: absolute;
            right: 0;
            bottom: setUnit(-10);

            svg {
                vertical-align: middle;
                width: setUnit(40);
                height: setUnit(40);

                fill: red;
            }
        }

        .file {
            width: setUnit(100);
            height: setUnit(100);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #EEF0EF;
            border-radius: 50%;
            margin-right: setUnit(15);
            position: relative;

            .removeIcon {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9;
                width: setUnit(30);
                height: setUnit(30);
                border: 2px solid #ffffff;
                border-radius: 50%;
                background: $primary-color;
                fill: #ffffff;

                path {
                    stroke: #ffffff;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            .addIcon {
                width: setUnit(30);
                height: setUnit(30);
                vertical-align: middle;

                path {
                    stroke: darken($border-gray-color, 30);
                }
            }

            &:hover {
                .addIcon {
                    transform: scale(1.1);
                }
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                vertical-align: middle;
            }
        }

        .nativeInput {
            position: absolute;
            left: -99999;
            display: none;
        }
    }
}
