@import "styles/functions";
@import "styles/variables";

.item {
    display: flex;
    padding-left: setUnit(16);

    .label {
        width: setUnit(120);
        text-align: right;
    }

    .value {
        margin-left: setUnit(20);
    }
}
